* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
    header {
        padding: 16px 0;
        background-color: #182c61;
        color: #FFFFFF;
    
    }
    header nav li {
        display: inline;
        margin-left: 16px;
        font-size: 24px;
    }
    
    header nav li a {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .secao {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
    }
    
    header .secao{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}
input,textarea, button{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}
button {
    background-color: #182c61;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}
button:hover {
    background-color:  rgb(50, 50, 197);
}

.success-message {
    background-color: rgb(50, 50, 197);
    padding: 16px;
    color: #FFFFFF;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: #FFFFFF;
    margin-bottom: 8px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}
footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}





